form {
    background: rgb(212, 212, 212);
    padding: .4em;
    margin: .4em;
}
input {
    display: block;
    width: 18em;
    margin-bottom: .4em;
}
input[type="submit"] {
    width: 18.6em;
}
#alertbox {
    position: absolute;
    height: 3em;
    width: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    padding: .8em;
}
#alertclose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: grabbing;
}