form {
    background-color: rgb(216, 250, 216);
    background: rgb(246, 216, 242);
    padding: .4em;
    margin: .4em;
}
input {
    display: block;
    width: 18em;
    margin-bottom: .4em;
}
input[type="submit"] {
    width: 18.6em;
}